.albumContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none repeat scroll 0 0 #FFF;
  padding: 1px 26px 2px 26px;
  text-align: justify;
  background-color: #000;
  margin-top: 11px;
  margin-left: auto;
  margin-right: auto;
  font-size: 110%;
  line-height: 1.4;
  color: #AAA; 

  h1, h2, h3 {
    color: #FFF;
  }

  h3 {
    text-align: center;
  }
}

.firstHeading {
  align-self: flex-start;
  margin-left: 180px;
}

.topContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3px;
}

.leftTop {
  flex: 0 1 180px;
}

.rightTop {
  flex: 1;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.column {
  width: 48%; /* Adjust the width to fit within the container */
}